<h3>Latest posts</h3>
<hr/>
<div class="table">
	<% page.posts.limit(5).each(function(item){ %>
		<%- partial('_partial/article-archive', {item: item}) %>
	<% }); %>
</div>
<%- partial('_partial/pagination') %>